/* Esercizio 1 */
.ex-1-square {
  transition: background-color 2s ease;
}

.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  transition: width 2s ease-in;
}

.ex-2-square:active {
  width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
  transition: border-radius 2s linear;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
  transition: opacity 2s linear;
}

.ex-4-square:hover {
  opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
  transition: scale 2s linear;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.2);
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
  transition: filter 3s ease;
}

.ex-7-img:hover {
  filter: hue-rotate(90deg) brightness(0.5);
}

/* Esercizio 8 */
.ex-8-img {
  transition: all 1s linear;
}

.ex-8-img:hover {
  border-radius: 10%;
  filter: sepia(0.5) saturate(0.7);
}

/* Esercizio 9 */
.ex-9-img {
  transition: all 2s ease;
}

.ex-9-img:hover {
  border-radius: 10%;
  filter: invert(1) opacity(0.5) ;
  transform: scale(1.5,1.5);
}

/* Esercizio 10 */
.ex-10-icon {
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {transform: rotate(0);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

/* Esercizio 11 */
.ex-11-icon:hover {
  animation-name: incomplete-spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes incomplete-spin {
  0% {transform: rotate(0);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  0% {transform: rotate(0);}
}

/* Esercizio 12 */
.ex-12-button:hover > .ex-12-top-white {
  animation-name: white-space-top-12;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ex-12-button:hover > .ex-12-bottom-white {
  animation-name: white-space-bottom-12;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes white-space-top-12 {
  0% {left:10%; top:-10px;}
  25% {left:20%; top:-10px;}
  50% {left:30%; top:-10px;}
  75% {left:20%; top:-10px;}
  100% {left:10%; top:-10px;}
}

@keyframes white-space-bottom-12 {
  0% {right: 20%; bottom: -10px;}
  25% {right: 30%; bottom: -10px;}
  50% {right: 40%; bottom: -10px;}
  75% {right: 30%; bottom: -10px;}
  100% {right: 20%; bottom: -10px;}
}

/* Esercizio 13 */
.ex-13-button:hover > .ex-13-top-white {
  animation-name: white-space-top-13;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ex-13-button:hover > .ex-13-bottom-white {
  animation-name: white-space-bottom-13;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes white-space-top-13 {
  0% {left:10%; top:-10px;}
  20% {left: 90%; top:-10px;}
  40% {left: 90%; top:60px;}
  60% {left:-10%; top:60px;}
  80% {left:-10%; top:-10px;}
  100% {left:10%; top:-10px;}
}

@keyframes white-space-bottom-13 {
  0% {right: 20%; bottom: -10px;}
  20% {right: 80%; bottom: -10px;}
  40% {right: 80%; bottom: 60px;}
  60% {right: -10%; bottom: 60px;}
  80% {right: -10%; bottom: -10px;}
  100% {right: 20%; bottom: -10px;}
}
